/* ============================================= */
/*              Images                           */
/* ============================================= */
img {
  width: 20%;
  margin: 2.5%;
  align-items: center;
  @media (max-width: 768px) {
    width: 40%;
    margin: 5%;
  }
  @media (max-width: 320px) {
    width: 90%;
    margin: 5%;
  }
}
