/* ============================================= */
/*              Navigation                       */
/* ============================================= */
.search-holder {
  display: inline-block;
  text-align: center;
  width: 100%;
  input {
    margin: 3% auto;
    align-items: center;
    padding: 1% 1%;
    border-radius: 8px;
    border: 0;
    background-color: rgb(204, 200, 200);
  }
}
